.env

backend/key.json
backend/logs
backend/.env

backend/node_modules
frontend/node_modules
frontend-admin/node_modules

frontend/.next
frontend-admin/.next

backend/architecture.txt
frontend/architecture.txt
frontend-admin/architecture.txt
stats/architecture.txt

stats/logs/*
stats/.env
stats/key.json
stats/.vscode