input[type="range"]::-webkit-slider-thumb {
    width: 3px;
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    cursor: ew-resize;
    background: rgb(39, 39, 39);
    border-radius: 0%;
}

input[type="range"] {
    background: linear-gradient(to right, rgb(248 113 113), rgb(251 191 36), rgb(74 222 128));
}